<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77407385102-3pu6dnrhrogkv6iq8fuutp8pak2t8qh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77407385102-3pu6dnrhrogkv6iq8fuutp8pak2t8qh6</string>
	<key>API_KEY</key>
	<string>AIzaSyAPcsJVweLqA3OvSgpVDVPD0wVS1U4MeaI</string>
	<key>GCM_SENDER_ID</key>
	<string>77407385102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.meishiv2</string>
	<key>PROJECT_ID</key>
	<string>mymapproject-9444d</string>
	<key>STORAGE_BUCKET</key>
	<string>mymapproject-9444d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77407385102:ios:45c0abd59b3db59a5a6e5f</string>
</dict>
</plist>